.proyectos {
  display: flex;
  justify-content: center;
}

.container-proyectos {
  display: flex;
  width: 100%;
  padding: 2rem;
  line-height: 2.5rem;
  font-size: large;
}

.galeria-proyectos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.proyecto {
  background-color: rgb(189, 186, 186); /* Color de fondo de la tarjeta */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: calc(
    33%-40px
  ); /* Ajusta el ancho segun la cantidad de proyectos a mostrar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.proyecto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.proyecto h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.proyecto p {
  margin-top: 10px 0;
}

.proyecto a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff; /* Color del botón */
  color: white; /* Color del texto del botón */
  text-decoration: none; /* Elimina el subrayado del enlace */
  border-radius: 5px; /* Bordes redondeados del botón */
}

.proyecto a:hover {
  background-color: #002752;
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: white;
}
.darkModeSwitch .proyecto p{
  color: black;
}
/* Media Queries agrupadas */
@media (max-width: 767px) {
  .proyecto {
    width: calc(100% - 40px);
  }
}
/* Tablets (Pantallas medianas, entre 768px y 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .proyecto {
    width: calc(50% - 40px);
  }
}
/* Escritorio (Pantallas anchas, a partir de 1024px) */
@media (min-width: 1024px) {
  .proyecto {
    width: calc(33% - 40px);
  }
}
